nav
{
    height:100px;
    background-color:  rgb(71, 68, 68);
}

#logo
{
    margin-left: 20px;
    width: 100px;
    height: 100px
}

#text
{
    width: 400px;
    height: 80px;
    position: absolute;
    margin-top: 20px;
}

#parent_div
{
    display: flex;
}

#vertical_navigation
{
    background-color: rgb(71, 68, 68);
    height: 100vh;
    width: 150px;

}


.navigation_item
{
    color :white;
    display:block;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

.navigation_item:hover
{
    color: rgb(212, 29, 142);
}


#results_area
{
    background-color: rgb(236, 222, 204);
    height: 100vh;
    /* width: calc(100% - 150px); */
    /* margin-left: 150px; */
    padding: 10px;
    overflow-x : auto;
    flex: 1;
}

#delete_icon, #edit_icon, #check_icon, #cross_icon
{
    height: 20px;
    width: 20px;
}

table, th, td {
    border: 1px solid black;
  }

th
{
    background-color: rgb(243, 61, 173);
}

td
{
    background-color: white;
    padding: 5px;
}

table{

    font-size: 13px;
    width : 100%;
}

#search_bar
{
    border-radius: 5px;
}